name: nested_scroll_views
description: Flutter nested scrolling views.
version: 0.0.3
homepage: https://github.com/hgraceb/nested_scroll_views

environment:
  flutter: '>=3.3.3 <4.0.0'
  sdk: '>=2.18.2 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
