name: nested_scroll_views
description: 'Flutter nested scrolling views.'
version: 0.0.11
homepage: https://github.com/hgraceb/nested_scroll_views

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: '>=3.22.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
